{% extends "sitelayout.html" %}

{% block description %}
    <div class="jumbotron bg-primary text-white text-center site-description">
        <p class="lead">
            The most iconic dive site of Una Una, Apollo is a pristine patch of coral reef with a resident tornado of
            thousands of black tail barracudas.
        </p>
        <br/>
        <p>
            The reef attracts so much marine life - turtles, tuna, jacks, huge schools of
            snapper and fusiliers as well as the occasional eagle ray. If you manage to take your eyes off the blue and look
            at the reef, you will find huge coral and sponge formations, scorpionfish, nudibranchs, lobsters and colourful
            reef fish.
        </p>
    </div>
{% endblock %}