{% extends "sitelayout.html" %}

{% block description %}
    <div class="jumbotron bg-primary text-white text-center site-description">
        <p class="lead">
            Artemis is a stunning cascading wall of soft and hard corals and giant sponge formations.
        </p>
        <br/>
        <p>
            It is home to a vibrant community of reef fish and invertebrates, and offers glimpses of pelagics such as tunas,
            jacks and eagle rays passing by in the blue.
        </p>
    </div>
{% endblock %}