{% extends "sitelayout.html" %}

{% block description %}
    <div class="jumbotron bg-primary text-white text-center site-description">
        <p class="lead">
            Batu Gila literally translates to “crazy rock”!
        </p>
        <br/>
        <p>
            An apt name for this large rock that sits at around 25m at its shallowest, and drops down to deeper than we know.
            The rock is covered in soft corals and sea fans and is a hive of activity!
        </p>
    </div>
{% endblock %}