{% extends "sitelayout.html" %}

{% block description %}
    <div class="jumbotron bg-primary text-white text-center site-description">
        <p class="lead">
            Black Forest is named after its unique coral landscape - a vast forest of cascading corals, reminiscent of pine
            trees.
        </p>
        <br/>
        <p>
            As well as an unforgettable landscape, it is here that has one of the greatest chances of seeing black-tip reef
            sharks of all the dive sites of Una Una.
        </p>
    </div>
{% endblock %}