{% extends "sitelayout.html" %}

{% block description %}
    <div class="jumbotron bg-primary text-white text-center site-description">
        <p class="lead">
            Hong Kong is said to be named after the numerous tube sponges found here, which appear to look like a city
            skyline when viewed from below.
        </p>
        <br/>
        <p>
            However, according to the Pristine Paradise Dive Centre captain Un it is named Hong Kong because its that busy!
            Indeed, Hong Kong can be a frenzy of hunting trevallies, blue striped snappers, batfish, napoleon wrasse, turtles
            and cuttlefish that sometimes you won’t know where to look! Hong Kong has several distinct cleaning stations
            frequented by larger fish such as giant barracuda and spadefish, giving access to small cleaner wrasse to their
            gills and in their mouths!
        </p>
    </div>
{% endblock %}