{% extends "sitelayout.html" %}

{% block description %}
    <div class="jumbotron bg-primary text-white text-center site-description">
        <p class="lead">
            The Finnish word for 'lovely' or 'wonderful'. Ihana is a gentle sloping reef with huge coral formations and is
            teeming with life.
        </p>
        <br/>
        <p>
            Ihana is known for its large schools of yellow snapper and its resident big marbled groupers. There is a chance
            of seeing some blue spotted rays, turtles and schooling pick handle barracudas.
        </p>
    </div>
{% endblock %}