{% extends "sitelayout.html" %}

{% block description %}
    <div class="jumbotron bg-primary text-white text-center site-description">
        <p class="lead">
            Jackpoint is an ominous, overhanging wall with numerous ledges and caves.
        </p>
        <br/>
        <p>
            The wall hosts a great diversity of corals and sponges and is an excellent habitat for nudibranchs, ghost pipe
            fish and even skeleton shrimp. Its always worth keeping an eye in the blue for big tuna, eagle rays and schooling
            jacks.
        </p>
    </div>
{% endblock %}