{% extends "sitelayout.html" %}

{% block description %}
    <div class="jumbotron bg-primary text-white text-center site-description">
        <p class="lead">
            A jungle in the sea, this dive site is teeming with life.
        </p>
        <br/>
        <p>
            Jungle consists of a gently sloping coral reef alongside sand and rubble which gradually turns into a tiered
            wall dropping down below 40m. The reef itself is stunning with an abundance of jacks, spade fish and schooling
            snappers. Turtles, napoleon wrasse and eagle rays frequently pass by this area, while the rubble provides a haven
            for juvenile fish, mantis shrimp and nudibranchs.
        </p>
    </div>
{% endblock %}