{% extends "sitelayout.html" %}

{% block description %}
    <div class="jumbotron bg-primary text-white text-center site-description">
        <p class="lead">
            Kingston Wall is an underwater peninsula, with a vertical wall on the ocean side and a beautiful coral garden on
            the inside.
        </p>
        <br/>
        <p>
            Looking out to the blue there is the chance of seeing large pelagic fish passing through,
            as well as eagle rays. The coral garden is a sheltered area for a variety of colourful reef fishes as well as
            cuttlefish and octopus, and rare sightings of a black-tip reef shark.
        </p>
    </div>
{% endblock %}