{% extends "sitelayout.html" %}

{% block description %}
    <div class="jumbotron bg-primary text-white text-center site-description">
        <p class="lead">
            Pinnacle II is a vertical wall on one side, and a vast shallow sloping reef on the other side.
        </p>
        <br/>
        <p>
            There is an abundance of life from tiny candy crabs to big black tip reef sharks, and if you’re lucky a family
            of napoleon wrasse too.
        </p>
    </div>
{% endblock %}