{% extends "sitelayout.html" %}

{% block description %}
    <div class="jumbotron bg-primary text-white text-center site-description">
        <p class="lead">
            Originally named Fish-o-mania, Pinnacle is one of Una Una’s first discovered dive sites and remains one of the
            must see sites of the area.
        </p>
        <br/>
        <p>
            The top of the pinnacle sits at about 5m, while the walls drop down to well below 40m. The pinnacle is a hive
            of activity with a chance of seeing giant trevallies, black-tips, napoleon wrasse, bumped parrot fish,
            eagle rays, turtles, octopus and more.
        </p>
    </div>
{% endblock %}