{% extends "sitelayout.html" %}

{% block description %}
    <div class="jumbotron bg-primary text-white text-center site-description">
        <p class="lead">
            Satellite is an epic deep water coral mound.
        </p>
        <br/>
        <p>
            The shallowest point is at around 25m where a huge single barrel sponge sits to top it off. It attracts pelagics
            such as jacks, eagle rays and blacktip reef sharks, while the reef itself is an immaculate display of diversity.
            The dive normally finishes with a short swim over to the wall of Pinnacle II.
        </p>
    </div>
{% endblock %}