{% extends "sitelayout.html" %}

{% block description %}
    <div class="jumbotron bg-primary text-white text-center site-description">
        <p class="lead">
            Valtimo is a cluster of a few habitats, each with their own charm.
        </p>
        <br/>
        <p>
            The shallow fringing reef is home to reef squid, plentiful anemones with their associated fish and dancing
            shrimp, nudibranchs and colourful reef fish. A short swim over a sandy bottom where blue-spotted rays aggregate,
            brings you to a coral island dominated by soft corals and a small colony of lion fish. Nearby is a huge towering
            coral bommie frequented by schooling fish, as well as the odd napoleon wrasse passing by.
        </p>
    </div>
{% endblock %}