{% extends "sitelayout.html" %}

{% block description %}
    <div class="jumbotron bg-primary text-white text-center site-description">
        <p class="lead">
            Starting at the wooden wreck of a passenger ferry and followed by a visit to the reef outcrop known as Jam.
        </p>
        <br/>
        <p>
            The wreck has been colonised by corals and sponges and acts as a nursery for juvenile fish. A short swim across
            sandy rubble, home to numerous shrimp gobies and mantis shrimp leads you to Jam - a sprawling and thriving coral
            reef. Jam is home to giant moray eels, turtles, napoleon wrasse, octopus, leaf scorpionfish, blacktail barracuda,
            sting rays and more!
        </p>
    </div>
{% endblock %}