{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <div class="background-img">
        <img class="logo" src="/static/images/templates/logo.png" alt="The logo for good dive; a nudibranch">
    </div>
    <h1 class="about-heading display-4 text-info">
        Showcasing Una-Una's best dive spots
    </h1>
    <div class="jumbotron about bg-primary text-white">
        <p class="lead about-p">
            After every dive you hear the same question... <span class="text-info font-weight-bold">Good dive?</span>
        </p>
        <br/>
        <p class="lead about-p">
            This is a platform where divers can share those conversations.
        </p>
        <br/>
        <p class="lead about-p">
            Rate the sites you've been to and explore the ones you haven't.
        </p>
        <br/>
        <br/>
        <h1 class="display-4 text-info">
            About me
        </h1>
        <br/>
        <p class="lead about-p">
            My name is Ben Pearce and this is my Final Project for Harvard CS50x's Introduction to Computer Science
        </p>
        <br/>
        <br/>
        <p class="lead text-justify">
            I am a marine biologist and PADI Open Water Scuba Instructor with a passion for engaging with the world in a positive and
            sustainable way. I earned a masters degree from University of Southampton with experience in data and statistical analysis.
            I chose to immerse myself in the marine world for the past 18 months reaching almost 400 dives and 15 days dive time. While searching
            for a way to integrate my ocean science background and direct knowledge to benefit the marine environment,
            I became interested in using computer science as the link. Harvard's CS50x has proved invaluable at
            introducing me to the "intellectual enterprises of computer science and the art of programming". My long term goals
            are to continue my computer science journey, focusing on data science and analysis, while figuring out ways I can
            connect computer and ocean science.
        </p>
        <br/>
        <h1 class="text-center text-info">
            My creative assistant
        </h1>
        <br/>
        <p class="lead">
            All of the photos used on the site are my own, however, I would like to especially thank Sarina Singh-Khaira for
            taking on the role of my creative assistant and editing these (something I could never do due to my
            colourblindness). Sarina also created the site's exceptional logo, the Una-Una dive site map and crafted the
            wonderful site descriptions. Thank you!
        </p>
        <br/>
        <br/>
        <h1 class="display-4 text-info">
            Ideas for the future
        </h1>
        <br/>
        <p class="lead">
            Developing this project has taught me so much, and I am excited to get onto the next step. I will continue to
            add functionality to this site in order to keep learning:
        </p>
        <br/>
        <ul class="ideas no-list-style">
            <li>- Unique background image for each site</li>
            <li>- Add all the dive sites of Una-Una</li>
            <li>- Page/section for all or most recent reviews</li>
            <li>- Create a user profile page</li>
            <li>- Let users add and display photos for each site</li>
            <li>
                - Higher quality reviews:
                    <ul class="no-list-style">
                        <li>Visibility</li>
                        <li>Depth</li>
                        <li>Dive time</li>
                        <li>Species seen</li>
                        <li>Time of dive (morning/afternoon/night)</li>
                        <li>Site conditions</li>
                    </ul>
            </li>
            <li>- Upvote/downvote or rate reviews as helpful or not</li>
            <li>- Let users add sites</li>
            <li>- A more detailed sites page</li>
            <li>- Google maps including sites with GPS coordinates</li>
        </ul>
    </div>
{% endblock %}

{% block footer %}
    <div class="footer-btf text-white">
        <p>&copy; Ben Pearce 2020</p>
    </div>
{% endblock %}