{% extends "layout.html" %}

{% block title %}
    Una-Una
{% endblock %}

{% block main %}
    <div class="una-una-img background-img">
        <div class="una-una-headline">
            <h1 class="text-white display-4">Una-Una</h1>
            <h5 class="text-white col-md-6 font-weight-bold line-spacing">
                An isolated, idyllic, volcanic island with thriving coral reefs and a welcoming local community
            </h5>
        </div>
    </div>
    <br/>
    <div class="una-una-info">
        <div class="card text-white bg-primary mb-3 card-width border-0">
            <div class="card-body">
                <h1 class="card-title text-info">The Island</h1>
                <p class="card-text">
                    Una-Una lies in the centre of the Gulf of Tomini, Sulawesi, Indonesia and is part of the Togian Archipelago. The
                    Tomini Bay is deep, sheltered and equatorial which makes it an excellent diving location with visibility regularly
                    over 30 m.
                </p>
            </div>
        </div>
        <div class="card text-white bg-primary mb-3 card-width border-0">
            <div class="card-body">
                <h5 class="card-title text-info">Agricultural island</h5>
                <p class="card-text">
                    Agriculture is the main source of income for the Togian islands, with coconuts and cocoa coming in top
                    with respects to percentage land use. Una-Una is a small, round island in which the inhabited parts are covered
                    in coconut, cocoa and clove trees, some of its main exports. Go there at the right time and you can eat your
                    weight in mangoes, let alone all the other tropical fruit trees dotted about if you know where to look or who to ask.
                </p>
            </div>
        </div>
        <div class="card text-white bg-primary mb-3 card-width border-0">
            <div class="card-body">
                <h5 class="card-title text-info">Local community</h5>
                <p class="card-text">
                    There are around 500 people living on Una-Una over the three main villages. The community is extremely warm
                    and welcoming. Most families have a small boat to catch fish during sunset, making for immaculate views.
                    Every Friday the main village hosts the island's football and volleyball matches.
                </p>
            </div>
        </div>
        <div class="card text-white bg-primary mb-3 card-width border-0">
            <div class="card-body">
                <h5 class="card-title text-info">Colo Eruption</h5>
                <p class="card-text">
                    The Colo Volcano erupted in 1983 and forced everybody off the island and over to Wakai, the nearby Togian
                    island. Pyroclastic flows swept over the island which left it uninhabitable for a long time. The layers of ash
                    that covered the island has created extremely fertile soil, which caused the initial population increase after
                    the eruption.
                </p>
            </div>
        </div>
        <div class="card text-white bg-primary mb-3 card-width border-0">
            <div class="card-body">
                <h5 class="card-title text-info">The reefs</h5>
                <p class="card-text">
                    The surrounding reefs experienced a brief recovery period after the eruption which left the fish populations
                    to thrive. The local small scale fishermen jumped on the opportunity to make the most of the exceptional
                    fishing grounds. They are said to chase off boats coming from elsewhere, taking what they need for
                    themselves and not choosing to export their catch.
                </p>
            </div>
        </div>
        <div class="card bg-primary mb-3 card-width border-0">
            <div class="card-body">
                <h1 class="card-title text-info">The Diving</h1>
                <p class="card-text text-white">
                    The diving around Una-Una is arguably some of the best in the Togians, especially with regards to fish
                    abundance and diversity. Take for example the dive site Pinnacle I, otherwise known as Fish-O-Mania, where you
                    can be surrounded by multiple schools of fish at once. Another spot in the south of the island, Apollo, gets
                    regular visits from a tornado of barracuda comprised of what seems like thousands of fish. It is rare
                    <strong>not</strong> to spot a Napoleon Wrasse on a dive because they haven't been targeted for
                    sale to the international markets yet.
                </p>
            </div>
        </div>
        <div class="card bg-primary mb-3 card-width border-0">
            <div class="card-body">
                <h5 class="card-title text-info">Dive sites</h5>
                <p class="card-text text-white">
                    The 35 named dive sites regularly visited by the two local dive centres on the east side of the island
                    provide a variety of habitats to explore the huge diversity of life around this little island, sitting
                    centre left in the middle of the coral triangle. Whether you are diving the fringing reefs, deep walls or pinnacles
                    around the island, Una-Una is known for its huge sponge and coral formations alongside excellent visibility and
                    calm conditions. The few muk diving sites, though not comparable to nearby Lembeh, Gorontalo, Bangka or Bunaken,
                    provide a wealth of critters such as nudi's, shirmps, crabs, sea/pipehorses and more if you know where to look.
                </p>
            </div>
        </div>
        <div class="card bg-primary mb-3 card-width border-0">
            <div class="card-body">
                <h5 class="card-title text-info">Marine Life</h5>
                <p class="card-text text-white">
                    Due to the relatively low fishing impact compared to surrounding areas, the bigger than average fish size makes for
                    compelling dives, the oversized many-spotted sweetlips all over the place are a prime example of this. The larger
                    sightings includes eagle rays, tuna, barracuda, groupers, snappers, turtles, octopus, cuttlefish, napoleon wrasse,
                    bumphead parrotfish and giant trevallies. Also very rare sightings of whale sharks and dolphins if you are lucky!
                </p>
            </div>
        </div>
        <div class="card bg-primary mb-3 card-width border-0">
            <div class="card-body">
                <h5 class="card-title text-info">Toby Swarms</h5>
                <p class="card-text text-white">
                    Last but not least, multiple times a year Una-Una experiences population explosions of whitebelly tobys that almost
                    completely cover the reefs and form huge clouds around you on a dive. It is currently the only documented
                    place on earth where this happens. While the tobys are swarming the local fisherman can't catch any fish... perhaps
                    because they are all feasting on the tobys - my personal theory for why the fish are larger than average around
                    Una-Una.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="footer-btf text-white">
        <p>&copy; Ben Pearce 2020</p>
    </div>
{% endblock %}